<h1>Books</h1>
<tr>
  <% @bookers.each do |book| %> 
  <td><%= book.title %></td>
  <td><%= book.body %></td>
  <% end %>
</tr>

<h2>NEW book</h2>
<%= form_with model: @books do |f| %>
<div><label>Title</label></div>
<%= f.text_field :title %>
<div><label>Body</label></div>
<%= f.text_area :body %>
<div><%= f.submit 'Create Book' %></div>
<% end %>